.movie-item__overview{
	max-height: 100%;
	height: auto;
	overflow: visible;
	color: #fff;
	font-weight: 300;
	margin-top: 40px;
}

.movie-item{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.singleItemSection &{
		padding: 60px 0;
	}
}

.movie-item__parts{
	.singleItemSection &--pd{
		padding: 20px 30px 0;
		max-width: 640px;
	}
}

.movie-item__title{
	font-size: 25px;
	color: #fff;
	margin-bottom: 10px;
}
.movie-item__genres{
	margin-bottom: 20px;
	color: #e0e0e0;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	li{
		padding: 0 10px 0 0;
	}
}

.movie-item__rating{
	color: #fff;
	margin-bottom: 20px;
	font-weight: 300;
}
.movie-item__features{
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 10px;
}