.movies {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.more-movies {
	display: block;
	margin: 0 auto;
	width: 100px;
	padding: 15px 0;
	border: 1px solid #eee;
	text-align: center;
	text-decoration: none;
	color: $primary-color;
	background-color: #FFF;
	border-radius: 3px;
}