.similar {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	padding-top: 50px;

	&__img {
		margin-bottom: 5px;
		display: block;
	}
	&__title {
		display: inline-block;
		text-decoration: none;
		color: $primary-color;
		font-size: 14px;
		width: 200px;
		vertical-align: top;
	}
	&__rating {
		display: inline-block;
		color: $primary-color;
		font-size: 14px;
		vertical-align: top;
		width: 50px;
		text-align: right;
	}

	&-wrapper-title {
		font-size: 18px;
		color: $primary-color;
		margin-bottom: 20px;
	}
}
