.voice-search {
	margin-bottom: 30px;

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		cursor: pointer;
		border-radius: 50%;
		margin: 0 auto;

		&::before {
			opacity: 0;
			transition: 0.4s ease opacity;
		}
	}

	.state-recording {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 2.5px dashed #555;
			animation: rotation 10s infinite linear;
			opacity: 1;
		}
	}

	.svg-icon {
		fill: #ccc;
		width: 25px;
		height: 25px;
	}
}

@keyframes rotation {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@media screen and (min-width: 768px) {
	.voice-search {
		margin-right: 30px;
		margin-bottom: 0;

		&__btn {
			margin: auto;
		}
	}
}