/*Variables*/
$primary-color: #333;

/*Imports*/
@import "css-modules/grid12.css";
@import "css-modules/reset.css";

/*Components*/
@import "sass/main";


/*General styles*/
h1, h2, h3, h4, h5, h6, p, a, li, span{
	font-family: 'Roboto', sans-serif;
}

.g-dark{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.g-after{
	position: relative;

	&:after{
		display: block;
		content: '';
		position: absolute;
	}
}

.g-before{
	position: relative;

	&:before{
		display: block;
		content: '';
		position: absolute;
	}
}
